{% extends 'core/base.html' %} 
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!--begin::Basic info-->
<div class="card mb-5 mb-xl-10">
	<!--begin::Card header-->
	<div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
		<!--begin::Card title-->
		<div class="card-title m-0">
			<h3 class="fw-bold m-0">{{ title }}</h3>
		</div>
		<!--end::Card title-->
	</div>
	<!--begin::Card header-->
	<!--begin::Content-->
	<div id="kt_account_settings_profile_details" class="collapse show d-flex flex-center">
		<!--begin::Form-->
		<form method="post">
			{% csrf_token %}
			<h2>Students in Classroom:</h2>
			{{ form.as_p }}
			
			
			<!-- <ul>
			{% for student in classroom.students.all %}
				<li>
				<input type="checkbox" name="students" value="{{ student.user.username }}" {% if student in classroom.students.all %}checked{% endif %}>
				{{ student }}
				</li>
			{% endfor %}
			</ul> -->
			
			<button type="submit">Save Changes</button>
		</form>
		
		<!--end::Form-->
	</div>
	<!--end::Content-->
</div>
<!--end::Basic info-->
{% endblock content %}