{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-4">
    <div class="row mt-4">
        <div class="col-sm-6 offset-sm-2">
            <h2>{{ title }}</h2>
            <form method="post" class="my-10" enctype="multipart/form-data">
                {% csrf_token %}
                {{ question_form.as_p }}
                <div class="border border-success">
                </div>
                {{ choice_formset.management_form }}
                <table id="choice-formset">
                    {% for form in choice_formset %}
                        {{ form.as_table }}
                    {% endfor %}
                </table>
                <button type="button" id="add-choice-btn">Add Choice</button>
                <input type="submit" value="Save Quiz" href="{% url 'assignment:create_questions' %}">
                
            </form>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Function to add a new choice row
        function addChoice() {
            console.log("girdim");
            const choiceContainer = document.getElementById('choice-formset');
            const totalForms = document.getElementById('id_choice_set-TOTAL_FORMS');
            console.log(totalForms.value)
            // Get the current form count
            const formCount = parseInt(totalForms.value);
            console.log(formCount);
            // Create a new form with the correct naming
            const newChoiceRow = document.createElement('tr');
            newChoiceRow.innerHTML = `
                <td><input type="text" name="choice_set-${formCount}-text"></td>
                <td><input type="checkbox" name="choice_set-${formCount}-is_correct"></td>
            `;
            
            // Increment the form count and update the TOTAL_FORMS field
            totalForms.value = formCount + 1;
            console.log(newChoiceRow);
            choiceContainer.appendChild(newChoiceRow);
        }

        // Add event listener for the "Add Choice" button
        const addChoiceBtn = document.getElementById('add-choice-btn');
        addChoiceBtn.addEventListener('click', addChoice);
    });


</script>

{% endblock js %}