<!-- quiz/templates/quiz/quiz.html -->
<form method="post" action="{% url 'quiz_view' %}">
    {% csrf_token %}
    {% for question in questions %}
        <h3>{{ question.text }}</h3>
        {% if question.image %}
            <img src="{{ question.image.url }}" alt="Question Image">
        {% endif %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="text" value="{{ choice.text }}"> {{ choice.text }}<br>
        {% endfor %}
    {% endfor %}
    <input type="submit" value="Submit">
</form>
