{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="d-flex flex-row justify-content-between align-items-center card-header mt-5">
            <div class="d-flex flex-column flex-start">
                <h6 class="flex-start">
                    {{ quiz.title }}
                </h6>
                <h6>
                    {{ quiz.teacher.user.get_full_name }}
                </h6>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center mw-100">
            <form id="quiz-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'assignment/components/questions.html' with include_input=include_input %}
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block js %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const form = document.getElementById('quiz-form');
    const questions = form.querySelectorAll('.question');
    let currentQuestionIndex = 0;

    function showQuestion(index) {
        questions.forEach((question, idx) => {
            if (idx === index) {
                question.style.display = 'block';
            } else {
                question.style.display = 'none';
            }
        });
        if (index === questions.length - 1) {
            document.getElementById('next-question').style.display = 'none';
            document.getElementById('submit-quiz').style.display = 'block';
        } else {
            document.getElementById('next-question').style.display = 'block';
            document.getElementById('submit-quiz').style.display = 'none';
        }
        if (index === 0) {
            document.getElementById('previous-question').style.display = 'none';
        } else {
            document.getElementById('previous-question').style.display = 'block';
        }
    }

    function handlePreviousQuestion() {
        if (currentQuestionIndex > 0) {
            currentQuestionIndex--;
            showQuestion(currentQuestionIndex);
        }
    }

    function handleNextQuestion() {
        if (currentQuestionIndex < questions.length - 1) {
            currentQuestionIndex++;
            showQuestion(currentQuestionIndex);
        }
    }

    document.getElementById('previous-question').addEventListener('click', handlePreviousQuestion);
    document.getElementById('next-question').addEventListener('click', handleNextQuestion);

    // Initially hide the previous button when the page loads
    showQuestion(currentQuestionIndex);
});
</script>




{% endblock js %}