{% extends 'core/base.html' %}
{% block content %}
<div>
    <h6>
        {{ quiz.title }}
    </h6>
    <h6>
        {{ quiz.teacher.user.get_full_name }}
    </h6>

    <ul>
        {% for question, choices in questions_choices %}
        <li>
            <h6>
                {{ question.text }}
            </h6>
            <ul>
                {% for choice in choices %}
                    <li class="list-inline">
                        <input type="radio" name="question{{ forloop.parentloop.counter }}" value="{{ choice.id }}" id="choice{{ forloop.counter }}">
                        <label for="choice{{ forloop.counter }}">{{ choice.text }}</label>
                    </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock content %}