{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="d-flex flex-row justify-content-between align-items-center card-header mt-5">
            <div class="d-flex flex-column flex-start">
                <h6 class="flex-start">
                    {{ quiz.title }}
                </h6>
                <h6>
                    {{ quiz.teacher.user.get_full_name }}
                </h6>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center mw-100">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'assignment/components/questions.html' with include_input=include_input %}
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const questions = document.querySelectorAll('.question');
        const prevButton = document.querySelector('.prev-question');
        const nextButton = document.querySelector('.next-question');
        const submitButton = document.querySelector('.submit-quiz');

        let currentQuestionIndex = 0;

        function showQuestion(index) {
            questions.forEach((question, i) => {
                if (i === index) {
                    question.style.display = 'block';
                } else {
                    question.style.display = 'none';
                }
            });

            prevButton.style.display = index > 0 ? 'block' : 'none';
            nextButton.style.display = index < questions.length - 1 ? 'block' : 'none';
            submitButton.style.display = index === questions.length - 1 ? 'block' : 'none';
        }

        nextButton.addEventListener('click', function () {
            if (currentQuestionIndex < questions.length - 1) {
                currentQuestionIndex++;
                showQuestion(currentQuestionIndex);
            }
        });

        prevButton.addEventListener('click', function () {
            if (currentQuestionIndex > 0) {
                currentQuestionIndex--;
                showQuestion(currentQuestionIndex);
            }
        });

        showQuestion(currentQuestionIndex);
    });
</script>
{% endblock js %}