{% if include_input == True %}
<div class="d-flex flex-column flex-end justify-content-center">
    {% for question, choices in questions_choices %}
        <li class="question" data-question-id="{{ question.id }}" {% if forloop.first %}style="display: block;"{% else %}style="display: none;"{% endif %}>
            <h6 class="text-center display-1 mb-5">{{ question.text }}</h6>
            <div class="row">
                {% for choice in choices %}
                <div class="col-md-6">
                    <div class="form-check">
                        <div class="card text-bg-info mb-3" style="max-width: 35rem;">
                            <div class="card-body">
                                <input class="form-check-input" type="radio" name="question{{ forloop.parentloop.counter }}" value="{{ choice.id }}" id="choice{{ forloop.counter }}">
                                <p class="card-text" for="choice{{ forloop.counter }}">
                                    {{ choice.text }}
                                </p>
                            </div>
                        </div>
                        
                    </div>
                </div>
                {% endfor %}
            </div>
        </li>
    {% endfor %}
    <div class="d-flex justify-content-between w-75">
        <button type="button" class="prev-question btn btn-primary">Previous Question</button>
        <button type="button" class="next-question btn btn-primary">Next Question</button>
    </div>
    <button type="submit" class="submit-quiz btn btn-success" style="display: none;">Submit the Quiz</button>
</div>
{% else %}
<div class="w-100">
        <div class="d-flex flex-wrap justify-content-center">
            {% for question, user_choice in questions_choices %}
                <div class="m-2">
                    <div class="card" style="width: 300px;">
                        <div class="card-body">
                            <h6 class="mb-2">
                                {{ question.text }}
                                <hr>
                            </h6>
                            <div class="mb-2">
                                <label class="font-weight-bold" for="">Your answer:</label>
                                {% if user_choice.is_correct == True %}
                                    <p class="text-success">{{ user_choice.text }}</p>
                                {% else %}
                                    <p class="text-danger">{{ user_choice.text }}</p>
                                {% endif %}
                            </div>
                            {% for choice in question.choice_set.all %}
                                {% if choice.is_correct %}
                                    {% if user_choice.text == choice.text %}
                                        <p class="text-info">Your choice is correct!</p>
                                    {% else %}
                                        <div>
                                            <label class="font-weight-bold" for="">Correct answer:</label>
                                            <p class="text-info">{{ choice.text }}</p>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endif %}