<ul>
    {% if included_input %}
        {% for question, choices in questions_choices %}
            <li>
                <h6>
                    {{ question.text }}
                </h6>
                <ul>
                    {% for choice in choices %}
                        <li class="list-inline">
                            <input type="radio" name="question{{ forloop.parentloop.counter }}" value="{{ choice.id }}" id="choice{{ forloop.counter }}">
                            <label for="choice{{ forloop.counter }}">{{ choice.text }}</label>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
        <button type="submit" class="flex-end">Submit the Quiz </button>
    {% endif %}
    {% for question, choice in questions_choices %}
        <li>
            <h6>
                {{ question.text }}
            </h6>
            <label for="">your answer:</label>
            <ul>
                {{ choice.text }}
            </ul>
            <label for="">correct answer:</label>
            {% for choice in question.choice_set.all %}
                {% if choice.is_correct %}
                <ul>
                    {{ choice.text }}
                </ul>
                {% endif %}
            {% endfor %}
        </li>
    {% endfor %}
</ul>