{% if include_input == True %}
<ul>
        {% for question, choices in questions_choices %}
        <li>
            <h6>
                {{ question.text }}jşdlkfjsdşkflsjdf
            </h6>
            <ul>
                {% for choice in choices %}
                <li class="list-inline">
                    <input type="radio" name="question{{ forloop.parentloop.counter }}" value="{{ choice.id }}" id="choice{{ forloop.counter }}">
                    <label for="choice{{ forloop.counter }}">{{ choice.text }}</label>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
        <button type="submit" class="flex-end">Submit the Quiz </button>
</ul>
{% else %}
        <div class="container">
            <ul class="list-group">
                {% for question, user_choice in questions_choices %}
                    <li class="list-group-item">
                            <h6 class="mb-2">
                            {{ question.text }}  
                            <hr >
                        </h6>
                        <div class="mb-2">
                            <label class="font-weight-bold" for="">Your answer:</label>
                            {% if user_choice.is_correct == True %}
                            <p class="text-success">{{ user_choice.text }}</p>
                            {% else %}
                            <p class="text-danger">{{ user_choice.text }}</p>
                            {% endif %}
                        </div>
                        {% for choice in question.choice_set.all %}
                            {% if choice.is_correct %}
                                {% if user_choice.text == choice.text %}
                                    <p class="text-info">Your choice is correct!</p>
                            {% else %}
                            <div>
                                <label class="font-weight-bold" for="">Correct answer:</label>
                                <p class="text-info">{{ choice.text }}</p>
                            </div>
                            {% endif %}
                            {% endif %}
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
        </div>
{% endif %}