{% extends 'core/base_without_navbar.html' %} 
{% load static %}  
{% block css %}
		<link href="{% static 'assets/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
{% endblock css %}
{% block content %}
<!--begin::Root-->
<div class="d-flex flex-column flex-root" id="kt_app_root">
  <!--begin::Page bg image-->
  <style>
    body {
      background-image: url('{% static "assets/media/auth/bg1.jpg" %}');
    }
    [data-bs-theme="dark"] body {
      background-image: url('{% static "assets/media/auth/bg1-dark.jpg" %}');
    }
  </style>
  <!--end::Page bg image-->
  <!--begin::Authentication - Signup Welcome Message -->
  <div class="d-flex flex-column flex-center flex-column-fluid">
    <!--begin::Content-->
    <div class="d-flex flex-column flex-center text-center p-10">
      <!--begin::Wrapper-->
      <div class="card card-flush w-lg-650px py-5">
        <div class="card-body py-15 py-lg-20">
          <!--begin::Title-->
          <h1 class="fw-bolder fs-2hx text-gray-900 mb-4">Oops!</h1>
          <!--end::Title-->
          <!--begin::Text-->
          <div class="fw-semibold fs-6 text-gray-500 mb-7">
            We can't find that page.
          </div>
          <!--end::Text-->
          <!--begin::Illustration-->
          <div class="mb-3">
            <img
              src="{% static 'assets/media/auth/401auths.jpg' %}"
              class="mw-100 mh-300px theme-light-show bg-white"
              alt=""
            />
            <img
              src="assets/media/auth/404-error-dark.png"
              class="mw-100 mh-300px theme-dark-show"
              alt=""
            />
          </div>
          <!--end::Illustration-->
          <!--begin::Link-->
          <div class="mb-0">
            <a
              href="{% url 'account:login_view' %}"
              class="btn btn-sm btn-primary"
              >Return Login Page</a
            >
          </div>
          <!--end::Link-->
        </div>
      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Content-->
  </div>
  <!--end::Authentication - Signup Welcome Message-->
</div>
<!--end::Root-->
{% endblock content %} 
{% block script %}
<!--begin::Theme mode setup on page load-->
<script>
  var defaultThemeMode = "light";
  var themeMode;
  if (document.documentElement) {
    if (document.documentElement.hasAttribute("data-bs-theme-mode")) {
      themeMode = document.documentElement.getAttribute("data-bs-theme-mode");
    } else {
      if (localStorage.getItem("data-bs-theme") !== null) {
        themeMode = localStorage.getItem("data-bs-theme");
      } else {
        themeMode = defaultThemeMode;
      }
    }
    if (themeMode === "system") {
      themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light";
    }
    document.documentElement.setAttribute("data-bs-theme", themeMode);
  }
</script>
<!--end::Theme mode setup on page load-->

<script>
  var hostUrl = "assets/";
</script>

{% endblock script %} ```
